@model IEnumerable<NewApplication.Participant>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ParticipantFirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ParticipantLastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Club.ClubName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ParticipantFirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ParticipantLastName)
        </td>
                <td>
            @Html.DisplayFor(modelItem => item.Club.ClubName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ParticipantId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ParticipantId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ParticipantId })
        </td>
    </tr>
}

</table>
