@model NewApplication.Activity

@{
    ViewBag.Title = "Details";
}

<h2>@Model.ActivityName</h2>

<div>
    <h4>@Model.AgeGroup.AgeGroupName</h4>
    <h5>@Model.Zone.ZoneName</h5>
    <hr />

    @foreach (var item in Model.Sessions)
    {
        <h5><b>@item.SessionGroup.SessionName</b></h5>
        <h6>@item.Activity.Zone.ZoneName</h6>
        <h6><b>@item.Participants.Count() Participants Registered</b></h6>
        <br />
        if(item.Participants.Count() >= 15)
        {
            <h6>Session Full</h6>
        }
        <table class="table display">
            <thead>
                <tr>
                    <th>Participant Name</th>
                    <th>Participant Club</th>
                    <th>Participant Age Group</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var session in item.Participants)
                {
                    <tr>
                        <td>@session.ParticipantFirstName</td>
                        <td>@session.Club.ClubName</td>
                        <td>@session.AgeGroup.AgeGroupName</td>
                    </tr>
                }
            </tbody>
        </table>
        <hr />
        <br />
    }
</div>
<p>
    @*
    @Html.ActionLink("Print Participant List", "PrintActivity", new { ActivityId = Model.ActivityId }, htmlAttributes: new { @class = "btn btn-default" })
        *@
    @Html.ActionLink("Back to List", "Index", null, htmlAttributes: new { @class = "btn btn-default" })
</p>
